<!-- container -->
<div class="container about" >

  <!-- painel serviços  -->
  <div id="painel-servicos" >
    <h5 class="center-align">Opções</h5>
    <hr />
    <div class="row">
      <!-- serviços -->
      <div class="col s12 m6">
        <a routerLink="/exibicao-nota-mental">
          <div class="card-panel blue-grey lighten-1 accent-4 center my-card-button">
            <span class="white-text flow-text"> suas notas mentais </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a routerLink="/nova-nota-mental">
          <div class="card-panel blue-grey lighten-1 accent-4 center my-card-button">
            <span class="white-text flow-text"> nova nota mental </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a routerLink="/nova-nota-mental">
          <div class="card-panel blue-grey lighten-1 accent-4 center my-card-button">
            <span class="white-text flow-text"> nova nota mental </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a routerLink="/conteudo-desta-versao">
          <div class="card-panel blue-grey lighten-1 accent-4 center my-card-button">
            <span class="white-text flow-text"> conteúdo-desta-versão </span>
          </div>
        </a>
      </div>
      <!-- serviços -->
    </div>
    <!-- fim linha -->
  </div>
  <!-- fim painel serviços -->
</div>
