<!---->

<header>
  <app-testeira-nota-mental></app-testeira-nota-mental>
</header>
<router-outlet></router-outlet>
<!-- <router-outlet -->
  <!-- <app-nova-nota-mental (aoTransferir)="transferir($event)" ></app-nova-nota-mental> -->
 <!--  <p> Nome da nota {{conteudoNota?.nomeDaNota}} </p> -->
 <!-- <app-nova-nota-mental></app-nova-nota-mental> -->
<!-- </router-outlet> -->
<!-- <app-exibicao-nota-mental></app-exibicao-nota-mental> -->

<footer>
  <app-sobre-nota-mental></app-sobre-nota-mental>
</footer>

