<blockquote class="flow-text">
  <h3> Atividade 09 - Cadastro de rotas e navegação entre páginas</h3>
  <br/>
  <h4 style="font-weight:bold">Mapear componentes à rotas no módulo de rotas</h4>
  <p>Consta no módulo app-routin.modulo.ts</p>
  <br/>
  <h4 style="font-weight:bold">Criar navegação entre páginas por meio de rotas</h4>
  <p>Os botões de voltar, por exemplo, fazem navegação por rotas</p>
  <br/>
  <h4 style="font-weight:bold">Passar dados via hierarquia de componentes, ou seja, usando @Input ou @Output</h4>
  <p>Consta em product-panel.component.ts</p>
  <br/>
  <h4 style="font-weight:bold">Passar dados entre componentes que representam diferentes telas via parâmetros de rotas</h4>
  <p>Consta em shopping-list.component.ts</p>
</blockquote>

<app-voltar></app-voltar>
